body{
    background-color: rgba(180, 200, 175, 0.78);
     margin: 0;
 }
 h1{
     color: rgb(61, 59, 59);
     font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
     text-align: center;
     margin-top: 4%;
     font-size:50px;
     text-decoration: underline;
 }
 #titre2{
     color: rgb(61, 59, 59);
     font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
     text-align: center;
 }
 .conteneur{
     display: flex;
     position: absolute;
     width: 100%;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }
 .box img{
     position: relative;
     width: 250px;
 }
 .box h2{
     color: rgb(61, 59, 59);
     text-align: center;
 }
 section a{
     text-decoration: none;
 }
 .box{
     background-color: rgba(180, 200, 175, 0.78);
     border-radius: 25px;
     margin-bottom: 20px;
     padding: 20px;
     transition: 0.5s;
 }
 .box:hover{
     background-color: rgba(180, 200, 175, 0.78);
     padding: 30px;
     transition: 0.4s;
 }
